extends ../main

block title
  | Welcome to OpenUserCSS!

block content
  +row
    p.
      Your account has been created, but you must confirm
      this e-mail before being able to upload themes.

  +row
    p.
      This link is valid for one day (until #{expires}).
    p.
      If it expires, please log in and request a new verification e-mail from
      your account page!

  +row.has-padding-vertical-2(align="center")
    a.button.is-brand-primary.has-padding-1.has-text-white(href=link)
      | Verify

  +row.has-padding-bottom-1
    p To get started, check out these links:

  +row(align="center")
    .is-brand-primary.has-padding-1
      a.has-text-white.has-padding-horizontal-1(href=domainUrl)
        | Browse themes
      | | 
      a.has-text-white.has-padding-horizontal-1(href=domainUrl)
        | Search themes
      | | 
      a.has-text-white.has-padding-horizontal-1(href="https://forums.openusercss.org")
        | Talk or ask questions

  +row(align="right")
    | #{signoff}

block footer
  +link-fallback(link)

block reason
  | someone (hopefully you) registered an account with your e-mail address
