form-wrapper
  b-section(slot="form")
    b-container(style="max-width: 500px;")
      b-box
        form(v-on:submit.prevent="submit")
          h3 Login to OpenUserCSS
          hr
          b-columns
            b-column
              b-field
                b-control(has-icons-left)
                  icon(icon="mail-ru")
                  b-input(
                    type="email",
                    name="email",
                    placeholder="E-mail",
                    v-validate="'required|email'",
                    :class="{'input': true, 'is-danger': errors.has('email') }"
                    v-model="username"
                  )
              b-field
                b-control(has-icons-left)
                  icon(icon="lock")
                  b-input(
                    type="password",
                    name="password",
                    placeholder="Passphrase",
                    v-validate="'required'",
                    v-model="password"
                    :class="{'input': true, 'is-danger': errors.has('password') }"
                  )
              hr
              notification(v-show="errors.has('email')", icon="alert", color="is-danger").is-danger
                p(slot="content") {{errors.first('email')}}
              notification(v-show="errors.has('password')", icon="alert", color="is-danger").is-danger
                p(slot="content") {{errors.first('password')}}
              big-button(icon="login", :disabled="errors.has('email') || errors.has('password')").is-primary
                p(slot="content") Login
