mixin theme-card(hasImage)
  .card
    .card-header
      h6.card-header-title
        | {{theme.title}}
    if hasImage
      .card-image
        figure.image
          progressive-image(
            :src="proxyImage(theme.screenshots[0]).large",
            :placeholder="proxyImage(theme.screenshots[0]).small",
            width="100%",
            height="8rem",
            size="cover"
          )
            .ouc-screenshot-overlay(slot="overlay")
              .tile.is-parent
                .tile.is-child
                  no-ssr
                    star-rating.is-pulled-right(
                      :rating="countAverageRating(theme)",
                      :star-size="15",
                      :show-rating="false",
                      :read-only="true",
                      active-color="#FFB450",
                      inactive-color="#FFFFFF",
                      border-color="#FFFFFF",
                      :border-width="2"
                    )

    if block
      .card-content
        block
