include ../../static/microdata/theme.pug

div.route-root
  +theme-microdata

  modal(name="delete-theme", :draggable="true", height="auto")
    form(@submit.prevent="deleteTheme")
      b-card(is-unselectable)
        b-card-header
          b-card-header-title
            .content
              h3.is-marginless Confirm theme deletion
        b-card-content
          .content
            p
              | Title: {{theme.title}}
              br
              | Created: {{theme.createdAt | moment('MMMM DD, YYYY (ZZ)')}}
              br
              | Last updated: {{theme.lastUpdate | moment('MMMM DD, YYYY (ZZ)')}}
            hr
            p Please type your theme's title here to confirm:
            b-control(has-icons-left)
              icon(icon="delete")
              b-input(
                name="confirmTitle",
                v-model="confirmTitle",
                aria-label="confirm theme title",
                :placeholder="theme.title"
              )
        b-card-footer
          b-card-footer-item(is-paddingless)
            button.button(type="submit", is-danger, is-fullbleed, :disabled="theme.title !== confirmTitle") Delete theme
          b-card-footer-item(is-paddingless)
            button.button(type="reset", @click="cancelDelete", is-fullbleed, is-borderless) Cancel

  modal(
    name="source-viewer",
    height="auto",
    :scrollable="true",
    @closed="closeSource"
  )
    b-tile(is-parent, is-paddingless)
      b-tile(is-child)
        code {{theme.content}}

  b-container(:inert="showingModal")
    div
      .section
        b-level
          b-level-left(is-marginless)
            h1 {{theme.title}}
          b-level-right
            b-tile(is-parent, is-paddingless)
              b-tile(is-child, v-if="currentUser && theme.user._id === currentUser._id")
                .content(is-marginless, is-pulled-right)
                  button.button.is-danger(@click="confirmDeleteTheme") Delete theme
              b-tile(is-child, v-if="currentUser && theme.user._id === currentUser._id")
                .content.is-marginless(is-pulled-right)
                  router-link.button.is-primary(:to="'/theme/edit/' + theme._id") Edit theme
              b-tile(is-child)
                .content.is-marginless(is-pulled-right)
                  button.button.is-primary(@click="installTheme") Install theme

        b-columns
          b-column(is-6)
            div
              b-box(is-paddingless, is-marginless).ouc-theme-card
                flickity.carousel(ref="flickity", :options="flickityOptions")
                  flush-img(
                    v-if="hasScreenshots(theme)",
                    v-for="screenshot in theme.screenshots",
                    :source="proxyImage(screenshot).large",
                    height="250px",
                    :placeholder="proxyImage(screenshot).small",
                    align="center"
                  ).carousel-cell
                b-column
                  b-tile(is-parent, is-paddingless)
                    b-tile(is-child, is-parent, is-vertical)
                      b-level(is-marginless)
                        b-level-left
                          router-link(:to="'/profile/' + theme.user._id")
                            button.button.is-primary
                              p Visit {{theme.user.displayname}}'s profile
                          button.button.is-primary(
                            @click="viewSource"
                          ) View source
                      br
                      p(v-if="averageRating(theme.ratings) !== 0") Average rating: {{averageRating(theme.ratings)}}
                      p(v-if="averageRating(theme.ratings) === 0") Not rated yet
                      p Created: {{formatMoment(theme.createdAt)}}
                      p Last updated: {{formatMoment(theme.lastUpdate)}}
                      p Version: {{theme.version}}
                      div(v-if="currentUser._id")
                        br
                        b-level
                          b-level-left
                            p Rate this theme:
                          b-level-right
                            star-rating(
                              :rating="averageRating(theme.ratings)",
                              :item-size="25",
                              :show-rating="false",
                              @rating-selected="sendRating"
                            )

            b-box
              vue-markdown(
                :source="theme.description",
                :html="false",
                :anchor-attributes="$anchorAttributes"
              )
          b-column(is-6)
            h3 Theme options
            p A preview of options you can set in your extension
            hr
            b-columns(is-multiline)
              b-column(is-6, v-for="option in theme.options")
                b-box
                  b {{option.title}}
                  p Type: {{option.type}}
                  p Default: {{option.default}}
                  p(v-if="option.possibleValues && option.possibleValues.length") {{option.possibleValues}}

  ouc-footer
