div.route-root(itemtype="SoftwareApplication")
  meta(itemprop="name", :value="viewedTheme.title")
  meta(itemprop="dateCreated", :value="viewedTheme.createdAt")
  meta(itemprop="dateModified", :value="viewedTheme.lastUpdate")
  meta(itemprop="version", :value="viewedTheme.version")
  meta(itemprop="description", :value="viewedTheme.description")
  meta(itemprop="operatingSystem", value="Windows, Mac OS X, Linux")
  meta(itemprop="applicationCategory", value="Theme")
  meta(itemprop="aggregateRating", :value="averageRating(viewedTheme.ratings)")
  div(itemprop="author", itemtype="Person")
    meta(itemprop="name", :value="viewedTheme.user.displayname")

  modal(name="delete-theme", :draggable="true", height="auto")
    form(@submit.prevent="deleteTheme")
      b-card(is-unselectable)
        b-card-header
          b-card-header-title
            .content
              h3.is-marginless Confirm theme deletion
        b-card-content
          .content
            p
              | Title: {{viewedTheme.title}}
              br
              | Created: {{viewedTheme.createdAt | moment('MMMM DD, YYYY (ZZ)')}}
              br
              | Last updated: {{viewedTheme.lastUpdate | moment('MMMM DD, YYYY (ZZ)')}}
            hr
            p Please type your theme's title here to confirm:
            b-control(has-icons-left)
              icon(icon="delete")
              b-input(
                name="confirmTitle",
                v-model="confirmTitle",
                aria-label="confirm theme title",
                :placeholder="viewedTheme.title"
              )
        b-card-footer
          b-card-footer-item(is-paddingless)
            button.button(type="submit", is-danger, is-fullbleed, :disabled="viewedTheme.title !== confirmTitle") Delete theme
          b-card-footer-item(is-paddingless)
            button.button(type="reset", @click="cancelDelete", is-fullbleed, is-borderless) Cancel

  modal(
    name="source-viewer",
    height="auto",
    :scrollable="true",
    @closed="closeSource"
  )
    b-tile(is-parent, is-paddingless)
      b-tile(is-child)
        code(itemprop="text") {{viewedTheme.content}}

  b-container(:inert="showingModal")
    div
      .section
        notification(v-show="actionErrors.length > 0", icon="alert", color="is-danger").is-danger
          div(slot="content")
            p(v-for="error in actionErrors") {{error}}
        b-level
          b-level-left(is-marginless)
            h1 {{viewedTheme.title}}
          b-level-right
            b-tile(is-parent, is-paddingless)
              b-tile(is-child, v-if="currentUser && viewedTheme.user._id === currentUser._id")
                .content(is-marginless, is-pulled-right)
                  button.button.is-danger(@click="confirmDeleteTheme") Delete theme
              b-tile(is-child, v-if="currentUser && viewedTheme.user._id === currentUser._id")
                .content.is-marginless(is-pulled-right)
                  router-link.button.is-primary(:to="'/theme/edit/' + viewedTheme._id") Edit theme
              b-tile(is-child)
                .content.is-marginless(is-pulled-right)
                  button.button.is-primary(@click="installTheme") Install theme

        b-columns
          b-column(is-6)
            div
              b-box(is-paddingless, is-marginless).ouc-theme-card
                flickity.carousel(ref="flickity", :options="flickityOptions")
                  flush-img(
                    v-if="hasScreenshots(viewedTheme)",
                    v-for="screenshot in viewedTheme.screenshots",
                    :source="proxyImage(screenshot).large",
                    height="250px",
                    :placeholder="proxyImage(screenshot).small",
                    align="center"
                  ).carousel-cell
                b-column
                  b-tile(is-parent, is-paddingless)
                    b-tile(is-child, is-parent, is-vertical)
                      b-level(is-marginless)
                        b-level-left
                          router-link(:to="'/profile/' + viewedTheme.user._id")
                            button.button.is-primary
                              p Visit {{viewedTheme.user.displayname}}'s profile
                          button.button.is-primary(
                            @click="viewSource"
                          ) View source
                      br
                      p(v-if="averageRating(viewedTheme.ratings) !== 0") Average rating: {{averageRating(viewedTheme.ratings)}}
                      p(v-if="averageRating(viewedTheme.ratings) === 0") Not rated yet
                      p Created: {{formatMoment(viewedTheme.createdAt)}}
                      p Last updated: {{formatMoment(viewedTheme.lastUpdate)}}
                      p Version: {{viewedTheme.version}}
                      div(v-if="currentUser._id")
                        br
                        b-level
                          b-level-left
                            p Rate this theme:
                          b-level-right
                            star-rating(
                              :rating="averageRating(viewedTheme.ratings)",
                              :item-size="25",
                              :show-rating="false",
                              @rating-selected="sendRating"
                            )

            b-box
              vue-markdown(
                :source="viewedTheme.description",
                :html="false",
                :anchor-attributes="$anchorAttributes"
              )
          b-column(is-6)
            h3 Theme options
            p A preview of options you can set in your extension
            hr
            b-columns(is-multiline)
              b-column(is-6, v-for="option in viewedTheme.options")
                b-box
                  b {{option.title}}
                  p Type: {{option.type}}
                  p Default: {{option.default}}
                  p(v-if="option.possibleValues && option.possibleValues.length") {{option.possibleValues}}

  ouc-footer
