div.route-root
  b-container
    b-section
      form(slot="form", @submit.prevent="submit").ouc-new-theme-form
        notification(v-if="concat(actionErrors, errors.all()).length > 0", icon="alert", color="is-danger").is-danger
          div(slot="content")
            p(v-for="error in concat(actionErrors, errors.all())") {{error}}
        b-tile(is-ancestor)
          b-tile(is-parent, is-vertical)
            b-tile.ouc-new-theme-header(is-child)
              b-level
                b-level-left
                  h1(v-if="isNew") Create a new theme
                  h1(v-else="isNew") Editing {{theme.title}}
                b-level-right
                  b-tile(is-parent)
                    b-tile(is-child)
                      p {{theme.version}}
                  b-button(type="submit", is-primary, :disabled="errors.any()", :class="['button', 'is-primary', {'is-loading': loading}]")
                    div(slot="content") Save theme

            b-tile.ouc-new-theme-title(is-child)
              b-field
                b-control(has-icons-left)
                  icon(icon="tag")
                  b-input(
                    type="text",
                    name="title",
                    placeholder="Theme title",
                    v-validate="'required'",
                    v-model="theme.title",
                    :class="['input', {'is-danger': errors.has('title')}]"
                  )

            b-tile(is-child, is-paddingless)
              b-columns
                b-column.ouc-new-theme-description(is-child, is-7)
                  b-field
                    b-control
                      b-textarea(
                        type="text",
                        name="description",
                        placeholder="Theme description",
                        v-validate="'required'",
                        v-model="theme.description",
                        :class="['input', {'is-danger': errors.has('description')}]"
                      )
                b-column.ouc-new-theme-help(is-child, is-5)
                  b-box(is-primary)
                    p(is-primary)
                      icon(icon="information")
                      | To make writing CSS even easier, you can look through these
                      | resources:
                    hr
                    a(href="http://www.htmldog.com/guides/css/beginner/selectors/", target="_blank", rel="nofollow") Selectors, Properties, and Values (HTML Dog)
                    br
                    a(href="https://learn.shayhowe.com/html-css/getting-to-know-css/", target="_blank", rel="nofollow") Getting to Know CSS (Shay Howe)
                    br
                    a(href="https://www.w3schools.com/css/", target="_blank", rel="nofollow") CSS Tutorial (W3Schools - The W3C Consortium)

            b-columns
              b-column
                b-field
                  b-control(has-icons-left)
                    icon(icon="update")
                    b-input(
                      type="text",
                      name="version",
                      placeholder="Version",
                      v-validate="'required|semver'",
                      v-model="theme.version",
                      :class="['input', {'is-danger': errors.has('version')}]"
                    )
              b-column(is-1).ouc-icon-wrapper
                router-link(to="/help")
                  icon(icon="help-circle", color="#FFB450")

            b-tile.ouc-new-theme-editor(is-child)
              b-box(is-paddingless)
                no-ssr
                  editor(
                    v-model="theme.content",
                    name="content",
                    v-validate="'required'",
                    :class="{'is-danger': errors.has('content')}"
                  )

  attributor
